<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
</head>

<body>


  <h1>Job Details:</h1>

  <h2>@Model.GetDescription() and @Model.GetPhoneNumber()</h2>

  <a href='/jobdetails/new'>Add another job oppurtunity</a>
  <a href='/jobdetails'>View all jobs opportunities</a>

</body>

</html>